<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nongSan">
      <h2 data-cy="nongSanDetailsHeading"><span>Nong San</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ nongSan.id }}</span>
        </dd>
        <dt><span>Ten NS</span></dt>
        <dd>
          <span>{{ nongSan.tenNS }}</span>
        </dd>
        <dt><span>Gia</span></dt>
        <dd>
          <span>{{ nongSan.gia }}</span>
        </dd>
        <dt><span>Soluong Nhap</span></dt>
        <dd>
          <span>{{ nongSan.soluongNhap }}</span>
        </dd>
        <dt><span>Soluong Con</span></dt>
        <dd>
          <span>{{ nongSan.soluongCon }}</span>
        </dd>
        <dt><span>Noi San Xuat</span></dt>
        <dd>
          <span>{{ nongSan.noiSanXuat }}</span>
        </dd>
        <dt><span>Mo Ta NS</span></dt>
        <dd>
          <span>{{ nongSan.moTaNS }}</span>
        </dd>
        <dt><span>Danhmuc</span></dt>
        <dd>
          <div *ngIf="nongSan.danhmuc">
            <a [routerLink]="['/danh-muc', nongSan.danhmuc?.id, 'view']">{{ nongSan.danhmuc?.id }}</a>
          </div>
        </dd>
        <dt><span>Nhacc</span></dt>
        <dd>
          <div *ngIf="nongSan.nhacc">
            <a [routerLink]="['/nha-cung-cap', nongSan.nhacc?.id, 'view']">{{ nongSan.nhacc?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/nong-san', nongSan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
