<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phuong-thuc-tt-heading" data-cy="PhuongThucTTCreateUpdateHeading">Create or edit a Phuong Thuc TT</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_tenPTTT">Ten PTTT</label>
          <input type="text" class="form-control" name="tenPTTT" id="field_tenPTTT" data-cy="tenPTTT" formControlName="tenPTTT" />
          <div *ngIf="editForm.get('tenPTTT')!.invalid && (editForm.get('tenPTTT')!.dirty || editForm.get('tenPTTT')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tenPTTT')?.errors?.required"> This field is required. </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
