<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-danh-gia-heading" data-cy="DanhGiaCreateUpdateHeading">Create or edit a Danh Gia</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_sao">Sao</label>
          <input type="number" class="form-control" name="sao" id="field_sao" data-cy="sao" formControlName="sao" />
          <div *ngIf="editForm.get('sao')!.invalid && (editForm.get('sao')!.dirty || editForm.get('sao')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sao')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('sao')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_chitiet">Chitiet</label>
          <input type="text" class="form-control" name="chitiet" id="field_chitiet" data-cy="chitiet" formControlName="chitiet" />
          <div *ngIf="editForm.get('chitiet')!.invalid && (editForm.get('chitiet')!.dirty || editForm.get('chitiet')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('chitiet')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_image">Image</label>
          <input type="text" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <div *ngIf="editForm.get('image')!.invalid && (editForm.get('image')!.dirty || editForm.get('image')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('image')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_ngaydanhgia">Ngaydanhgia</label>
          <div class="d-flex">
            <input
              id="field_ngaydanhgia"
              data-cy="ngaydanhgia"
              type="datetime-local"
              class="form-control"
              name="ngaydanhgia"
              formControlName="ngaydanhgia"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('ngaydanhgia')!.invalid && (editForm.get('ngaydanhgia')!.dirty || editForm.get('ngaydanhgia')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ngaydanhgia')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('ngaydanhgia')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nongsan">Nongsan</label>
          <select class="form-control" id="field_nongsan" data-cy="nongsan" name="nongsan" formControlName="nongsan">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="nongSanOption.id === editForm.get('nongsan')!.value?.id ? editForm.get('nongsan')!.value : nongSanOption"
              *ngFor="let nongSanOption of nongSansSharedCollection; trackBy: trackNongSanById"
            >
              {{ nongSanOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_khachhang">Khachhang</label>
          <select class="form-control" id="field_khachhang" data-cy="khachhang" name="khachhang" formControlName="khachhang">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="khachHangOption.id === editForm.get('khachhang')!.value?.id ? editForm.get('khachhang')!.value : khachHangOption"
              *ngFor="let khachHangOption of khachHangsSharedCollection; trackBy: trackKhachHangById"
            >
              {{ khachHangOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
