<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="huyenQuan">
      <h2 data-cy="huyenQuanDetailsHeading"><span>Huyen Quan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ huyenQuan.id }}</span>
        </dd>
        <dt><span>Ten</span></dt>
        <dd>
          <span>{{ huyenQuan.ten }}</span>
        </dd>
        <dt><span>Tinh</span></dt>
        <dd>
          <div *ngIf="huyenQuan.tinh">
            <a [routerLink]="['/tinh-tp', huyenQuan.tinh?.id, 'view']">{{ huyenQuan.tinh?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/huyen-quan', huyenQuan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
